body{
  background-color: #333333;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}


h1{
  font-size: 5em;
  color: white;
}

.topbar {
  background-color: #730099;
  color:            white;
  text-decoration:  none;
  padding:          10px;
  text-align: center;
}

.materialText {
    box-shadow: 0px 2px 6px #888888;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    border-color: #730099;
    font-size: 16px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin-right: 0px;
}

.materialButton {
   background-color:  #730099;
   box-shadow: 0px 2px 6px #888888;
   border: none;
   border-radius: 0px 5px 5px 0px;
   color: white;
   padding: 10px 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin-left: -5px;
}

.materialButton:hover {
  background-color: #9900cc;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #730099;
    border-radius: 5px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
  background-color: #9900cc;
}

td {
  font-size: 1.5em;
}


td.tableheader {
  background-color: #292929;
  text-align: center;
}

.resultsTable table {
  border: 1px solid #262626;
  background-color: #595959;
  margin: 10px;
}


tr.resultsTable {
  padding: 10px;
  border: 1px solid #262626;
  background-color: #595959;
}

td.resultsTable {
  padding: 10px;
  border: 1px solid #262626;
  background-color: #595959;
}

table {
  border-collapse: collapse;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#pcAvatar {

}
